body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #546e7a;
  overflow: hidden;
}

main {
  flex: 1 0 auto;
}

h3.title {
  color: #ffffff;
  font-family: 'Architects Daughter', cursive;
  font-weight: 900;
  text-decoration: underline;
  text-decoration-color: #00e676;
}

.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  width: 450px;
  max-width: 100%;
  padding: 25px;
  border: 1px dashed #ffffff;;
  border-radius: 3px;
  transition: 0.2s;
  &.is-active {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.fake-btn {
  flex-shrink: 0;
  color: #00e676;
  background-color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  &:focus {
    outline: none;
  }
}

.btn-buat {
  margin-top: 4px;
  width: 450px;
  display: none;
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
  border: 4px solid #fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

.loader-blink {
  margin-top: 16px;
  color: #ffffff;
  animation: blinker 2s linear infinite;
  text-decoration: underline;
  text-decoration-color: #00e676;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}