body {
  background-color: #eeeeee;
}

.tabs .tab a{
    color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#eceff1;
    color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:#546e7a;
    color:#69f0ae;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#00e676;
} /*Color of underline*/

.tabs-content.carousel.carousel-slider .carousel-item.active{
    position: relative;
}

.tabs-content.carousel.carousel-slider { 
	height: auto !important;
}

td {
  padding: 8px 5px;
}

@media only screen and (min-width: 0) {
	.card-left {
		margin: 0;
	}

	.card-right {
		margin: 8px 0 0 0;
	}	
}

@media only screen and (min-width: 601px) {
	.card-left {
		margin: 0 8px 0 0;
	}

	.card-right {
		margin: 0 0 0 8px;
	}
}

.anim-hide {
	visibility: hidden;
	opacity: 0;

	transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}
    
.anim-show {
	visibility: visible;
	opacity: 1;

	transition-delay: 0s;
}

.banner-image {
	width:1500px!important;
 	height:250px!important;
 	object-fit:cover!important;
}

.shop-item-image {
	width:80px!important;
 	height:80px!important;
 	object-fit:cover!important;
 	cursor: pointer;
}

.shop-image {
	width: 80px;
	height: 80px;
	object-fit:cover;
}